#container {
    margin: 3em 1em;
    text-align: center;
    display: block;
}

form {
    text-align: end;
    margin-right: 5em;
    margin-bottom: 3em;
}

input {
    margin: 1em 2em;
    background-color: initial;
    border: none;
    border-bottom: 0.2px solid #6a9cbd;
    color: black;
    padding: 2px 0 10px 0;
    font-size: 15px;
    font-weight: 400;
    width: 50%;
}

button {
    padding: 0.5em 2em;
    margin: 0 1em;
    background: tomato;
    color: #323f4e;
    font-weight: 600;
}

button:hover {
    background: #323f4e;
    color: tomato;
    cursor: pointer;
}