#form_container {
    margin: 3em 1em;
    text-align: center;
    display: block;
}

input{
    margin: 0.3em 0;
    width: 40%;
    background-color: initial;
    border: none;
    border-bottom: 0.2px solid #6a9cbd;
    color: black;
    padding: 2px 0 10px 0;
    font-size: 15px;
    font-weight: 400;
}

button {
    padding: 0.5em 2em;
    margin: 0 1em;
    background: #6a9cbd;
}

button:hover{
    background: #426277;
    color: white;
    cursor: pointer;
}