.nav_menu {
    border-bottom: solid 0.05em teal;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
  }

  .nav_item{
      margin: 0.5em;
  }

  #nav_icon {
      width: 5%;
  }

  